:root {
    --fontFamilyHeading: sofia-pro,Arial,Tahoma,sans-serif;
    --fontFamilyParagraph: proxima-nova,Arial,Tahoma,sans-serif;
    
    --fontSizeH1: 96px;
    --fontSizeH2: 72px;
    --fontSizeH3: 56px;
    --fontSizeH4: 48px;
    --fontSizeH5: 32px;
    --fontSizeH6: 24px;
    --fontSizeH7: 18px;
    --fontSizeP1: 24px;
    --fontSizeP2: 18px;
    --fontSizeP3: 16px;
    --fontSizeP4: 14px;
    --fontSizeP5: 12px;


    --BgColorPrimary: #FFFFFF;
    --BgColorSecondary: #F8F9FA;
    --BgColorTertiary: #FE2C55;
    --BgColorQuaternary: #000000;
    --BgColorQuinary: #333333;
    --colorPrimary: #000000;
    --colorSecondary: #FFFFFF;
}