@import "reset";
@import "variables";
@import "components";

main {
  width: 100%;
}

header {
  background-color: white;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  user-select: none;

  .header-logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .header-logo {
    position: relative;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .menu-button {
    font-family: var(--fontFamilyParagraph);
    font-size: 1.5rem;
    margin: 0 1.5rem;

    cursor: pointer;

    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: transparent;
    transition: 500ms;

    &:hover {
      text-decoration-color: var(--BgColorTertiary);
    }

    .active {
      text-decoration-color: var(--BgColorTertiary);
    }
  }

  .create-button {
    padding: 1rem;
    border-radius: 2px;
    background-color: var(--BgColorQuaternary);
    width: 11rem;
    height: 4rem;
    margin: 0 1.2rem;
    cursor: pointer;

    overflow: hidden;
    position: relative;

    @keyframes createButtonGrowAnimation {
      40% {
        transform: scale(1.1);
        filter: opacity(0.85);
      }
    }

    &::before {
      content: "";
      display: block;
      top: -20px;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 0px 10px 2px #fff;
      width: 5px;
      height: 80px;
      filter: blur(5px);
      transform: translateX(-100px) skewX(15deg);
    }

    &:hover {
      animation: createButtonGrowAnimation 850ms ease-in-out;

      &::before {
        transform: translate(100px) skewX(15deg);
        transition: 700ms;
      }
    }

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    > svg {
      pointer-events: none;
      display: block;
      width: 28px;
      height: auto;
      fill: white;
    }
    span {
      color: white;
      font-family: var(--fontFamilyParagraph);
      font-size: 1.5rem;
    }
  }
}

footer {
  background-color: var(--BgColorQuaternary);
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
}

footer {
    height: 25rem;
    padding: 4rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
  }
  .footer-logo {
    flex: 0 4 150px;
    margin-left: 4rem;

    display: flex;
    justify-content: center;
  }
  .footer-links {
    flex: 2 1 100px;
    margin-right: 4rem;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer-links-column {
    font-family: var(--fontFamilyHeading);
    font-size: var(--fontSizeP4);
    margin-left: 10rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      font-weight: 700;
      color: var(--colorSecondary);
      margin-bottom: 1.6rem;
    }

    a {
      font-weight: 500;
      color: #ccc;

      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-color: transparent;
      transition: 500ms;

      &:hover {
        text-decoration-color: #888;
      }
    }
  }
  .footer-links-list {
    display: flex;
    flex-direction: column;

    li {
      margin: 1rem 0;
    }

    .powered-by-developer-option {
      cursor: pointer;
      span {
        font-weight: 500;
        color: #ccc;
      }
      .powered-by-developer-logo {
        margin-top: 0.75rem;
      }
    }
  }

@media all and (min-width: 700px) and (max-width: 999px) {

  header {
    height: 7rem;
    padding: 0 4rem;

    .header-logo {
      height: 50px;
      width: 280px;
    }
  }


  // media 700+ end
}

@media all and (min-width: 1000px) {

  header {
    padding: 0 4rem;
  }

  .header-logo {
    height: 60px;
    width: 300px;
  }

  footer {
    height: 25rem;
    padding: 4rem 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
  }
  .footer-logo {
    flex: 0 4 150px;
    margin: 4rem 0 8rem;

    display: flex;
    justify-content: center;
  }
  .footer-links {
    flex: 2 1 100px;
    margin-right: 4rem;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer-links-column {
    font-family: var(--fontFamilyHeading);
    font-size: var(--fontSizeP4);
    margin-left: 10rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      font-weight: 700;
      color: var(--colorSecondary);
      margin-bottom: 1.6rem;
    }

    a {
      font-weight: 500;
      color: #ccc;

      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-color: transparent;
      transition: 500ms;

      &:hover {
        text-decoration-color: #888;
      }
    }
  }
  .footer-links-list {
    display: flex;
    flex-direction: column;

    li {
      margin: 1rem 0;
    }

    .powered-by-developer-option {
      cursor: pointer;
      span {
        font-weight: 500;
        color: #ccc;
      }
      .powered-by-developer-logo {
        margin-top: 0.75rem;
      }
    }
  }
}
